#banner {color: white; background-color: fuchsia; font-size: 2em}
#nav_bar {font-size: 2em;}
#main_content {width: 960px; text-align: center; align-content: center;}
#intro {font-size: 2em;}
#pic {width: 200px; height: 200px;}
#end {font-size: 2em;}
